header, main, footer {
    padding-left: 300px;
  }
  
  #brandLOGO {
    left: 60% !important;
  }
  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  
    #brandLOGO {
      left: 50% !important;
    }
    
  }
  
  #featureAnalysis {
    width:100% !important;
  }